/* general rules */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 1rem;
  color: #1c1e42;
}

a {
  font-weight: 500;
  color: #1c1e42;
  text-decoration: none;
}

a:hover {
  color: #181c6f;
}

/* filter bar */
.filterbar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterbar input,
.filterbar select {
  padding: 0.6em 1em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.filterbar input:focus,
.filterbar select:focus {
  border-color: #1c1e42;
}


/* Fruit List section */
.fruitlist-container {
  background-color: rgb(25, 174, 60);
  padding: 2rem;
  border: 1px solid #070505;

}

.fruitlist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.fruitlist li {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.fruitbuttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}



.fruit-titlecategory {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #1c1e42;
}

/* Fruit images */
img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c84848;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #a03b3b;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Comparison panel  */
.comparison-panel {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ccc;
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #1c1e42;
  }

  button:hover {
    background-color: #e0e0e0;
  }
}